.imgContainer {
  position: relative;
  margin-bottom: 16px;
}
.img {
  width: 100%;
  height: 268px;
  border-radius: 16px;
  object-fit: cover;
}
.btnIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: transparent;
  fill: var(--color-white);
}
.wrapTitle {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 8px;
}
.model {
  color: var(--color-light-blue);
}
.wrapDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  margin-bottom: 32px;
}
.details {
  display: flex;
  gap: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-grey);
}
.span {
  position: relative;
}
.span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: var(--color-light-grey);
}
.btn {
  background-color: var(--color-light-blue);
  color: var(--color-white);
  border-radius: 12px;
  width: 100%;
  padding: 12px 0;
  transition: background-color var(--transition);
}
.btn:hover {
  background-color: var(--color-blue);
}