.list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
  margin-bottom: 80px;
}
.item {
  width: calc((100% - 3 * 32px) / 4);
}
.btn {
  background-color: transparent;
  color: var(--color-black);
  border-radius: 12px;
  border: 1px solid var(--color-light-blue);
  width: 276px;
  height: 44px;
  font-weight: 600;
  line-height: 32px;
  transition:  border-color var(--transition);
}
.btn:hover {
  border-color: var(--color-blue);
}

